* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.flame{
    background-image: url(./fire.gif);
    background-size: cover;
    font-size: 10rem;
    font-weight: 900;
    background-position: center ;
    color: transparent ;
    background-clip: text;
    -webkit-background-clip: text;
}
